:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
/* background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"); */
/* background-image: url("./app/img/FCABG.png"); */
/* background-image: ; */
margin: 0px;
padding: 0px;
}
.header h1{
color: rgb(144, 68, 244);
padding: 15px;

}

.chat-bot-content{
position: fixed;
 top: 10;
 right:0;
 height: 50vh;
 overflow-x: scroll;
 overflow: auto;
 scroll-behavior: smooth; 
 flex-direction: column;
 background: rgba(0,0,0,0.01);
 background-color: #EBEBEB;
  margin: 20px;
  margin-left: auto;
  margin-right: 0;
  border-style: dotted;
    border-radius: 1px;
   border: 2px solid #73AD21;
}
.chatDivTop{
position: fixed;
 top: 100;
 right:0;
 height: 8vh;
 background-color: transparent;
 background: rgb(248, 248, 248);
 background-color: #6c1d45;
  margin: 20px;
  margin-left: auto;
  margin-right: 0;
  border-style: dotted;
    border-radius: 1px;
   border: 2px solid #73AD21;
   box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #f6fbf6;
}

.bottomdiv{
position: fixed;
width: 417px;
top: 20;
 right:0;
 height: 5vh;
 flex-direction: column;
 background: rgba(0,0,0,0.01);
 background-color: #EBEBEB;
  margin: 20px; 
  margin-left: auto;
  margin-right: 0;
  
  border-style: dotted;
  border-radius: 1px;
 border: 2px solid #73AD21;
 box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
 
}


.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  /* max-width: 960px; */
  flex-direction: column;
  align-items: center;
}

.user_message{
margin-left: auto;

color: rgba(58, 137, 5, 0.937);
border-radius: 1px;
margin-bottom: 10px;

}

.bot_message{
  margin-right: auto;
 /*  text-align: right;*/
  
  color: rgb(155, 49, 49);
  border-radius: 1px;
  margin-bottom: 10px;
  
  }

bodys{
height: 100vh;
background-color: #f8f8f8;
display: flex;
justify-content: center;
align-items: center;
}

.bodys{
flex: 1;
color: white;
background-color: hsla(180, 18%, 93%, 0.456);
padding: 0px 30px;
}



.popup_btn{
background-color: #1976d2;
border-radius: 100%;
width: 60px;
height: 60px;
display: flex;
justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.robot{
width: 100%;
/* border: 1px solid black; */
height: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}



container{
width: 100%;
height: 100vh;
}
content-local{
position: absolute;
top: 100px;
left: 0;
right: 0;
height: 600px;
background-color: #956e40;
font-weight: 600;
}



svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}