<div fxLayout="column" fxLayoutAlign="start center" class="container">
    

    <div fxFlex="100%" class="content-local">
        <div class="test-img">
            <img src="../../assets/img/FCABG.png" width="90%" height="50%">
            <div  *ngIf="isBotOpened" style=" bottom: 400px; left:1100px;" class="chatDivTop"><h1> I'm Arche </h1></div>
            <div *ngIf="isBotOpened" style=" bottom: 40px; left:1100px;" class="chat-bot-content" #div [scrollTop]="div.scrollHeight">
            
              
<div class="bodys">
  <div *ngFor="let m of check">
    <ng-container *ngIf="m.includes('You'); else second">
      <div >
        
        <p class="user_message" [innerHTML]="m"></p>
      </div>
    </ng-container>
    <ng-template #second>
      <div >
       
        <p class="bot_message" [innerHTML]="m"></p>
      </div>
    </ng-template>
  </div>
</div>

                    <!-- <textarea readonly="readonly" name="conversation" [(ngModel)]="conversation" rows="10" cols="80"></textarea>
                <br/> -->
               
                
            </div>

            <div  *ngIf="isBotOpened" style=" bottom: 1px; left:1200px;" class="bottomdiv">
              <span><input type="text" size="40" name="message" [(ngModel)]="message" style="line-height:2.25em;width: 73%;" enterkeyhint="" (keyup.enter)="startChat()" />
                <button (click)="startChat()" size="10" type="button" style="line-height: 2.25em; width: 12%;">Send</button>
                <button (click)="getChatBox()" type="button" style="line-height: 2.25em;width: 13%;">Cancel</button>
            </span>
          </div>

            <div *ngIf="!isBotOpened" class="popup_btn" (click)="getChatBox()" 
                style="position: sticky; bottom: 20px; left: 1380px;">
                <svg class="robot" style="height: 28px;width: 32px; color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                  <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                  <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
                </svg>
              </div>
        </div>
    </div>
</div>